body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 1rem;
}

h1 h2 p {
    font-family: 'Quicksand', sans-serif;
}

#about #carouselExampleIndicators span {
    background-color: black;
}